[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-warehouse-installer
Exec=harbour-warehouse-installer
Name=Warehouse In
